{% extends "base/layout.html" %}

{% block content %}
{% load static %}
<div class="register">
    <div class="container">
        <div class="col">
            <div class="logo">
                <a href="/" class="logo">OpenBook</a>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
        <div class="col">
            <form method='POST'>
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Reset your password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}