{% extends "base/layout.html" %}

{% block content %}
{% load static %}
<div class="register">
    <div class="container">
        <div class="col">
            <div class="logo">
                <a href="/" class="logo">OpenBook</a>
            </div>
            <div class="text">
                Please enter your email address to search for your account.
            </div>
        </div>
        <div class="col">
            <form action='{% url "password_recovery_email" %}' method='POST'>
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Reset Password">
            </form>
            <a class='create-account' href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
</div>
{% endblock content %}