{% extends "base/layout.html" %}

{% block content %}
{% load static %}
{% include "navbar.html" %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    
    .chat-container{
        display: flex;
        justify-content: center;
        max-height: 300px;

    }
    
    .message-container {
        width: 80%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        overflow-y: auto;
        height: 300px;
    }
    
    .message {
        max-width: 60%;
        margin: 10px 0;
        padding: 10px 20px;
        position: relative;
        clear: both;
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 602px;
        margin: 0px auto;
    }
    form input {
        display: block;
        padding: 15px;
        border: none;
    }
    form input[type="text"] {
        width: 70%;
        border: 1px solid var(--main-color);
        border-radius: 7px;
    }
    form input[type="submit"] {
        padding: 10px 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    }
    
    .message.left {
        background-color: #e5e5ea;
        margin-right: auto;
        text-align: left;
        border-bottom-left-radius: 0;
    }
    
    .message.right {
        background-color: #007bff;
        color: #fff;
        margin-left: auto;
        text-align: right;
        border-bottom-right-radius: 0;
    }
    
    .message::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border: 10px solid transparent;
    }
    
    .message.left::after {
        left: -10px;
        border-right-color: #e5e5ea;
    }
    
    .message.right::after {
        right: -10px;
        border-left-color: #007bff;
    }
    img {
        width: 60px;
        border-radius: 50%;
    }
    .profile {
        min-height: 78px;
        background: #ffff;
        width: 602px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #2196F3;
        margin: 0px auto;
    }
</style>
<section class='groups-section'>
    <div class="container">
        <div class="profile">
            <div class="image">
                <img src="{{user.profile.avatar.url}}" alt="">
            </div>
            <div class="username">{{user.username}}</div>
        </div>
        <div class="chat-container">
            <div class="message-container">
                {% if chats %}
                {% for chat in chats %}
                    {% if chat.sender == user %}
                    <div class="message left">{{chat.body}}</div>
                    {% else %}
                    <div class="message right">{{chat.body}}</div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <br>
        <br>

        <form action="" id='message-form' method="post">
            {% csrf_token %}
            <input type="text" name="" placeholder="Send a message to {{user}}" id="message-text">
            <input type="submit" value="Send">
        </form>
    </div>
</section>

<script>

    document.querySelector('nav .container .middle a.activate').classList.remove('activate');
    document.querySelector('nav .container .middle a.message-user').classList.add('activate')

    const messageForm = document.getElementById('message-form')

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    
    const getCookie = (name) => {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            };
        };
        return cookieValue;
    };

    const csrftoken = getCookie('csrftoken');
    
    const sendMessageFunc = (e) => {
        e.preventDefault();
        let messageText = document.getElementById('message-text').value;
        
        const div = document.createElement('div');
        div.classList.add('message', 'right');
        div.append(messageText);

        const response = fetch("{% url 'create_message' user.id %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ "messageText": messageText }),
        }).then((res) => res.json()).then(data => data)
    
    
        document.querySelector('.message-container').append(div);
        messageForm.reset()
    }
    
    messageForm.addEventListener("submit", sendMessageFunc)

    setInterval(getMessages, 1000)
    let counter = 0;

    function getMessages() {
        let checker = false;
        const response = fetch("{% url 'get_messages_view' user.id %}", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
        }).then((res) => res.json()).then(data => {
            if (data.length == 0) {}
            else {
                if (counter == data.length) {
                    console.log('There is no data')
                } else {
                    const messageLeftList = Array.from(document.querySelectorAll('.message-container .left'));
                    if (Array.from(document.querySelectorAll('.message-container .left')).length == 0) {
                        lastMsg = data[data.length - 1];
                        const div = document.createElement('div');
                        div.classList.add('message', 'left');
                        div.append(lastMsg);
                        document.querySelector('.message-container').append(div)                       
                    }
                    if (messageLeftList[messageLeftList.length - 1].innerText !== data[data.length - 1]) {
                        lastMsg = data[data.length - 1];
                        const div = document.createElement('div');
                        div.classList.add('message', 'left');
                        div.append(lastMsg);
                        document.querySelector('.message-container').append(div)
                    }
                }
            }
            counter = data.length;
        })
    }

</script>
{% endblock content %}